attrs==23.1.0
awscli==1.29.13
boto3==1.28.13
botocore==1.31.13
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.4
docutils==0.16
flake8==6.0.0
idna==3.4
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.3
mccabe==0.7.0
-e git+https://github.com/innolitics/n2y.git#egg=n2y
numpy==1.25.1
packaging==23.1
pandoc==2.3
Pillow==10.0.0
pluggy==1.2.0
plumbum==1.8.2
ply==3.11
py==1.11.0
pyasn1==0.5.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyparsing==3.1.0
pytest==7.4.0
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
rsa==4.7.2
s3transfer==0.6.1
six==1.16.0
tomli==2.0.1
urllib3==1.26.19
